<ion-header no-shadow>
  <ion-navbar>
    <!--<button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" primary>Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="getstart">
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
      <button ion-button block (click)="doFbLogin()">Facebook Login</button>
    </ion-slide>
    <ion-slide>
      <img src="img/logo.png" class="slide-image"/>
      <h2 class="slide-title">Continue?</h2>
      <button ion-button large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
